.contact-container {
    text-align: center;
    margin-top: 130px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 130px); /* Calculate height to fill remaining space */
  }
  
  .contact-content {
    display: flex;
    flex-direction: column;
    width: 80%; /* Adjust width as needed */
    max-width: 1200px; /* Limit maximum width */
    background-color: black;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1); /* Soft box shadow */
  }
  
  .contact-content h1 {
    font-size: 36px;
    color: #ffffff; /* Adjust text color */
    margin-bottom: 20px;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .social-media img {
    width: 40px;
    height: 40px;
    margin: 0 15px; /* Adjust margin */
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease-out;
  }
  
  .social-media img:hover {
    transform: scale(1.2);
  }
  
  .contact-info {
    text-align: left;
    color: #ffffff; /* Adjust text color */
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .contact-info div {
    margin-top: 20px;
  }
  