.projects-container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black; /* Dark background color */
    padding: 20px;
  }
  
  .project {
    width: 70%; /* Adjust the width as needed */
    margin-top: 20px;
    background-color: #333; /* Dark background color for project boxes */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 30px #fefdfd33; /* Box shadow for subtle elevation */
    transition: transform 0.3s ease-in-out; /* Smooth transition on hover */
  }
  
  .project:hover {
    transform: translateY(-20px); /* Lift the box slightly on hover */
  }
  
  .projects .project h2 {
    color: #8a8585; /* Light grey text color */
    margin-bottom: 10px;
    transition: color 0.3s ease;
  }
  
  .projects .project h2:hover {
    color: white; /* White text color on hover */
    cursor: pointer;
  }
  
  .projects .project a {
    text-decoration: none;
    color: white; /* White link color */
  }
  
  .projects .project table {
    width: 100%;
    margin-top: 20px;
  }
  
  .projects .project table img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .langs {
    margin-top: 20px;
  }
  
  .langs h3 {
    color: #ddd; /* Light grey heading color */
    margin-bottom: 10px;
  }
  
  .langs img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #333; /* Darker background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  