/* src/components/Projects.css */
.projects-container {
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 50px;
}

.project {
  width: calc(33% - 40px);
  margin-top: 20px;
  background-color: #181818;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.project:hover {
  transform: translateY(-10px);
  background-color: #2f2f2f;
}

.projects .project h2 {
  color: #ccc;
  margin-bottom: 20px;
  font-size: 24px;
  transition: color 0.3s ease;
}

.projects .project h2:hover {
  color: #fff;
}

.projects .project a {
  text-decoration: none;
  color: inherit;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.langs {
  margin-top: 30px;
  text-align: center;
}

.langs h3 {
  color: #ddd;
  margin-bottom: 20px;
}

.lang-icon {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #444;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .project {
    width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .project {
    width: calc(100% - 40px);
  }
}
.prev-button{
  background: transparent;
  color:white;
}
.next-button{
  background: transparent;
  color:white;
  margin-left: 20px;
}